<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1">
    <header>
        <identifier id="com.shabaz.ucd.demo.event.plugin" name="UCD Demo Event Plugin" version="1"/>
        <description>This is a demo plugin for UCD</description>
        <tag>Utilities/Demo Event</tag>
    </header>
    <step-type name="Event Registration">
        <description>Register a user for the Event</description>
        <properties>
            <property name="name" required="true">
                <property-ui description="Enter your full name"
                             label="Full name"
                             type="textBox"/>
            </property>
            <property name="additionalRequests" required="false">
                <property-ui description="Mention dietary restrictions or additional requests"
                             label="Requests"
                             type="textAreaBox"/>
            </property>
            <property name="acceptRulesAndRegulations" required="true">
                <property-ui description="I agree to the event’s rules and regulations"
                             default-value="false"
                             label="Accept event rules and regulations"
                             type="checkBox"/>
            </property>
            <property name="role" required="true">
                <property-ui description="Select your role at the event (Speaker/Attendee/Volunteer)"
                             default-value="ATTENDEE"
                             label="Role"
                             type="selectBox"/>
                <value label="Speaker">SPEAKER</value>
                <value label="Attendee">ATTENDEE</value>
                <value label="Volunteer">VOLUNTEER</value>
            </property>
        </properties>
        <post-processing>
            <![CDATA[
                if (properties.get("exitCode") != 0) {
                    properties.put("Status", "Failure");
                }
                else {
                    properties.put("Status", "Success");
                }
            ]]>
        </post-processing>
        <command program="${PLUGIN_HOME}/javawrapper.sh">
            <arg value="-cp"/>
            <arg path="${PLUGIN_HOME}/*"/>
            <arg value="com.shabaz.ucd.demo.event.plugin.EventRegistration"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>
</plugin>
