<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1">
    <header>
        <identifier id="com.ibm.ucd.sample.automation.plugin" name="UCD Sample Automation Plugin" version="1"/>
        <description>This is a sample automation plugin for UCD</description>
        <tag>Utilities/Sample Plugin</tag>
    </header>
    <step-type name="Step One">
        <description>First step in sample plugin</description>
        <properties>
            <property name="userName" required="true">
                <property-ui description="Example of a 'textBox' type input"
                             label="User Name"
                             type="textBox"/>
            </property>
            <property name="age" required="true">
                <property-ui description="Example of a 'secureBox' type input"
                             label="Age of user"
                             type="secureBox"/>
            </property>
            <property name="bio" required="false">
                <property-ui description="Example of a 'textAreaBox' type input"
                             label="User Bio"
                             type="textAreaBox"/>
            </property>
        </properties>
        <post-processing>
            <![CDATA[
                if (properties.get("exitCode") != 0) {
                    properties.put("Status", "Failure");
                }
                else {
                    properties.put("Status", "Success");
                }
            ]]>
        </post-processing>
        <command program="${PLUGIN_HOME}/javawrapper.sh">
            <arg value="-cp"/>
            <arg path="${PLUGIN_HOME}/*"/>
            <arg value="com.ibm.ucd.sample.automation.plugin.FirstStep"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>
    <step-type name="Step Two">
        <description>Second step in sample plugin</description>
        <properties>
            <property name="medal" required="false">
                <property-ui description="Example of a 'selectBox' type input"
                             default-value="NONE"
                             label="Medal"
                             type="selectBox"/>
                <value label="Gold">GOLD</value>
                <value label="Silver">SILVER</value>
                <value label="Bronze">BRONZE</value>
                <value label="None">NONE</value>
            </property>
            <property name="agreeTermsAndConditions" required="false">
                <property-ui description="Example of a 'checkBox' type input"
                             default-value="false"
                             label="Accept terms and conditions"
                             type="checkBox"/>
            </property>
        </properties>
        <post-processing>
            <![CDATA[
                if (properties.get("exitCode") != 0) {
                    properties.put("Status", "Failure");
                }
                else {
                    properties.put("Status", "Success");
                }
            ]]>
        </post-processing>
        <command program="${PLUGIN_HOME}/javawrapper.sh">
            <arg value="-cp"/>
            <arg path="${PLUGIN_HOME}/*"/>
            <arg value="com.ibm.ucd.sample.automation.plugin.SecondStep"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>
</plugin>
